.getting-started {
    p {
      margin: 20px 0;
      line-height: 22px;
      font-size: 16px;
    }
    h3{
      align-items: center;
      display: table;
      width: 100%;
    }
  }
  
  .bar-button-menutoggle {
    display: inline-flex;
  }